.hero-header {
  display: flex;
  gap: 48px;
  padding: 0 276px;
  background: var(--color-primary);
  height: 320px;

  @media only screen and (max-width: 1280px) {
    padding: 0;
    gap: 0;
    height: auto;
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    gap: 24px;
  }
}

.hero-header img {
  height: 320px;
  width: 320px;
  object-fit: cover;

  @media only screen and (max-width: 1280px) {
    height: 278px;
    width: 278px;
  }

  @media only screen and (max-width: 480px) {
    height: 400px;
    width: 100%;
  } 
}

.hero-header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 24px;

  @media only screen and (max-width: 1280px) {
    padding: 0 48px;
    padding-right: 24px;
    align-items: flex-start;
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    margin: 16px;
    padding: 0;
    width: calc(100% - 32px);
  }
}

.hero-header__content-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.hero-header__cut-corner-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media only screen and (min-width: 1280px) {
    display: none;
  }
}

.hero-header__cut-corner {
  height: 24px;
  width: 24px;
  background: var(--color-secondary);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  -webkit-clip-path: polygon(100% 0,  100%, 0 100%, 100% 0);
}